<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tippy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F1A9C3A1E4C3DBF006BCFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1A9C4E1E4C3DBF006BCFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1A9C591E4C3DBF006BCFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F1A9C741E4FA2BD006BCFD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
